<div style="color:white;
            display:fill;
            border-radius:15px;
            background-color:BLACK;
            font-size:100%;
            font-family:Verdana;
            letter-spacing:1px">
    <h3 style='padding: 20px;
              color:CYAN;
              text-align:center;'>
        Titanic Survival Prediction
    </h3>
    </div>

![](https://media.tenor.com/9Di9mmafWd4AAAAM/titanic.gif)

<div style="color:white;
            display:fill;
            border-radius:15px;
            background-color:BLACK;
            font-size:100%;
            font-family:Verdana;
            letter-spacing:1px">
    <h3 style='padding: 20px;
              color:CYAN;
              text-align:center;'>
        TABLE OF CONTENT
    </h3>
    </div>

* **Importing Libraries and Loading Data**

* **Data Information and Data Cleaning**

* **Building The Model**

* **Conclusion**

<div style="color:white;
            display:fill;
            border-radius:15px;
            background-color:BLACK;
            font-size:100%;
            font-family:Verdana;
            letter-spacing:1px">
    <h3 style='padding: 20px;
              color:CYAN;
              text-align:center;'>
        Importing Libraries
    </h3>
    </div>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from plotly.offline import init_notebook_mode, iplot, plot
from sklearn.preprocessing import MinMaxScaler

from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split

import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('../input/test-file/tested.csv')

<div style="color:white;
            display:fill;
            border-radius:15px;
            background-color:BLACK;
            font-size:100%;
            font-family:Verdana;
            letter-spacing:1px">
    <h3 style='padding: 20px;
              color:CYAN;
              text-align:center;'>
        Data Information and Data Cleaning
    </h3>
    </div>

In [3]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [4]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
def missing_values_percent(dataframe):
    missing_values = dataframe.isna().sum()
    percentage_missing = (missing_values / len(dataframe) * 100).round(2)

    result_movie = pd.DataFrame({'Missing Values': missing_values, 'Percentage': percentage_missing})
    result_movie['Percentage'] = result_movie['Percentage'].astype(str) + '%'

    return result_movie


result = missing_values_percent(df)
result

             Missing Values Percentage
PassengerId               0       0.0%
Survived                  0       0.0%
Pclass                    0       0.0%
Name                      0       0.0%
Sex                       0       0.0%
Age                      86     20.57%
SibSp                     0       0.0%
Parch                     0       0.0%
Ticket                    0       0.0%
Fare                      1      0.24%
Cabin                   327     78.23%
Embarked                  0       0.0%

In [6]:
df = df.dropna()

In [7]:
gender_mapping = {'male': 0, 'female': 1}
df['Sex'] = df['Sex'].map(gender_mapping)

In [8]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
12,904,1,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",1,23.0,1,0,21228,82.2667,B45,S
14,906,1,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",1,47.0,1,0,W.E.P. 5734,61.1750,E31,S
24,916,1,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",1,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
26,918,1,1,"Ostby, Miss. Helene Ragnhild",1,22.0,0,1,113509,61.9792,B36,C
28,920,0,1,"Brady, Mr. John Bertram",0,41.0,0,0,113054,30.5000,A21,S

In [9]:
df['Age'] = df['Age'].round().astype(int)

In [10]:
df['Fare'] = df['Fare'].round().astype(int)

In [11]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
12,904,1,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",1,23,1,0,21228,82,B45,S
14,906,1,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",1,47,1,0,W.E.P. 5734,61,E31,S
24,916,1,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",1,48,1,3,PC 17608,262,B57 B59 B63 B66,C
26,918,1,1,"Ostby, Miss. Helene Ragnhild",1,22,0,1,113509,62,B36,C
28,920,0,1,"Brady, Mr. John Bertram",0,41,0,0,113054,30,A21,S

In [12]:
df.drop(['PassengerId','Name','Ticket','Cabin', 'Embarked'],axis=1, inplace=True)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 87 entries, 12 to 414
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  87 non-null     int64
 1   Pclass    87 non-null     int64
 2   Sex       87 non-null     int64
 3   Age       87 non-null     int64
 4   SibSp     87 non-null     int64
 5   Parch     87 non-null     int64
 6   Fare      87 non-null     int64
dtypes: int64(7)
memory usage: 5.4 KB

<div style="color:white;
            display:fill;
            border-radius:15px;
            background-color:BLACK;
            font-size:100%;
            font-family:Verdana;
            letter-spacing:1px">
    <h3 style='padding: 20px;
              color:CYAN;
              text-align:center;'>
        Building Model
    </h3>
    </div>

In [14]:
X = df.drop('Survived', axis=1)
y = df['Survived']

In [15]:
scaler = MinMaxScaler()
X = scaler.fit_transform(X)
y = scaler.fit_transform(y.values.reshape(-1, 1))

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(69, 6)
(69, 1)
(18, 6)
(18, 1)

In [17]:
model = Sequential()
model.add(Dense(10, activation='relu', input_dim=6))
model.add(Dense(10, activation='relu'))
model.add(Dense(1, activation='linear'))

model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mean_absolute_error'])
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                70

 dense_1 (Dense)             (None, 10)                110

 dense_2 (Dense)             (None, 1)                 11

=================================================================
Total params: 191 (764.00 Byte)
Trainable params: 191 (764.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [18]:
past = model.fit(X_train, y_train, epochs=25, validation_split=0.2)

Epoch 1/25
2/2 [==============================] - 1s 236ms/step - loss: 0.7484 - mean_absolute_error: 0.6949 - val_loss: 0.5911 - val_mean_absolute_error: 0.5722
Epoch 2/25
2/2 [==============================] - 0s 32ms/step - loss: 0.7263 - mean_absolute_error: 0.6793 - val_loss: 0.5750 - val_mean_absolute_error: 0.5595
Epoch 3/25
2/2 [==============================] - 0s 33ms/step - loss: 0.7049 - mean_absolute_error: 0.6648 - val_loss: 0.5593 - val_mean_absolute_error: 0.5474
Epoch 4/25
2/2 [==============================] - 0s 33ms/step - loss: 0.6847 - mean_absolute_error: 0.6507 - val_loss: 0.5445 - val_mean_absolute_error: 0.5358
Epoch 5/25
2/2 [==============================] - 0s 35ms/step - loss: 0.6668 - mean_absolute_error: 0.6372 - val_loss: 0.5302 - val_mean_absolute_error: 0.5260
Epoch 6/25
2/2 [==============================] - 0s 34ms/step - loss: 0.6498 - mean_absolute_error: 0.6246 - val_loss: 0.5164 - val_mean_absolute_error: 0.5171
Epoch 7/25
2/2 [==============================] - 0s 32ms/step - loss: 0.6326 - mean_absolute_error: 0.6137 - val_loss: 0.5033 - val_mean_absolute_error: 0.5099
Epoch 8/25
2/2 [==============================] - 0s 32ms/step - loss: 0.6162 - mean_absolute_error: 0.6029 - val_loss: 0.4905 - val_mean_absolute_error: 0.5038
Epoch 9/25
2/2 [==============================] - 0s 32ms/step - loss: 0.6002 - mean_absolute_error: 0.5936 - val_loss: 0.4776 - val_mean_absolute_error: 0.4980
Epoch 10/25
2/2 [==============================] - 0s 30ms/step - loss: 0.5879 - mean_absolute_error: 0.5856 - val_loss: 0.4654 - val_mean_absolute_error: 0.4924
Epoch 11/25
2/2 [==============================] - 0s 31ms/step - loss: 0.5761 - mean_absolute_error: 0.5785 - val_loss: 0.4538 - val_mean_absolute_error: 0.4882
Epoch 12/25
2/2 [==============================] - 0s 33ms/step - loss: 0.5656 - mean_absolute_error: 0.5741 - val_loss: 0.4428 - val_mean_absolute_error: 0.4854
Epoch 13/25
2/2 [==============================] - 0s 32ms/step - loss: 0.5552 - mean_absolute_error: 0.5701 - val_loss: 0.4326 - val_mean_absolute_error: 0.4827
Epoch 14/25
2/2 [==============================] - 0s 51ms/step - loss: 0.5449 - mean_absolute_error: 0.5662 - val_loss: 0.4227 - val_mean_absolute_error: 0.4797
Epoch 15/25
2/2 [==============================] - 0s 32ms/step - loss: 0.5348 - mean_absolute_error: 0.5623 - val_loss: 0.4133 - val_mean_absolute_error: 0.4768
Epoch 16/25
2/2 [==============================] - 0s 31ms/step - loss: 0.5250 - mean_absolute_error: 0.5593 - val_loss: 0.4047 - val_mean_absolute_error: 0.4740
Epoch 17/25
2/2 [==============================] - 0s 31ms/step - loss: 0.5143 - mean_absolute_error: 0.5551 - val_loss: 0.3972 - val_mean_absolute_error: 0.4715
Epoch 18/25
2/2 [==============================] - 0s 31ms/step - loss: 0.5047 - mean_absolute_error: 0.5518 - val_loss: 0.3904 - val_mean_absolute_error: 0.4693
Epoch 19/25
2/2 [==============================] - 0s 31ms/step - loss: 0.4954 - mean_absolute_error: 0.5479 - val_loss: 0.3832 - val_mean_absolute_error: 0.4668
Epoch 20/25
2/2 [==============================] - 0s 31ms/step - loss: 0.4857 - mean_absolute_error: 0.5442 - val_loss: 0.3756 - val_mean_absolute_error: 0.4641
Epoch 21/25
2/2 [==============================] - 0s 32ms/step - loss: 0.4765 - mean_absolute_error: 0.5404 - val_loss: 0.3684 - val_mean_absolute_error: 0.4616
Epoch 22/25
2/2 [==============================] - 0s 33ms/step - loss: 0.4680 - mean_absolute_error: 0.5369 - val_loss: 0.3613 - val_mean_absolute_error: 0.4591
Epoch 23/25
2/2 [==============================] - 0s 32ms/step - loss: 0.4588 - mean_absolute_error: 0.5328 - val_loss: 0.3543 - val_mean_absolute_error: 0.4565
Epoch 24/25
2/2 [==============================] - 0s 32ms/step - loss: 0.4492 - mean_absolute_error: 0.5283 - val_loss: 0.3464 - val_mean_absolute_error: 0.4534
Epoch 25/25
2/2 [==============================] - 0s 31ms/step - loss: 0.4398 - mean_absolute_error: 0.5241 - val_loss: 0.3382 - val_mean_absolute_error: 0.4500

In [19]:
y_pred = model.predict(X_test)

1/1 [==============================] - 0s 105ms/step

In [20]:
from sklearn.metrics import r2_score

R2 = r2_score(y_test, y_pred)
print("R2 Score=",R2 )

R2 Score= -0.22028894856833015