<div style="color:white;
            display:fill;
            border-radius:15px;
            background-color:BLACK;
            font-size:100%;
            font-family:Verdana;
            letter-spacing:1px">
    <h3 style='padding: 20px;
              color:CYAN;
              text-align:center;'>
        Titanic Survival Prediction
    </h3>
    </div>

![](https://media.tenor.com/9Di9mmafWd4AAAAM/titanic.gif)

<div style="color:white;
            display:fill;
            border-radius:15px;
            background-color:BLACK;
            font-size:100%;
            font-family:Verdana;
            letter-spacing:1px">
    <h3 style='padding: 20px;
              color:CYAN;
              text-align:center;'>
        TABLE OF CONTENT
    </h3>
    </div>

* **Importing Libraries and Loading Data**

* **Data Information and Data Cleaning**

* **Building The Model**

* **Conclusion**

<div style="color:white;
            display:fill;
            border-radius:15px;
            background-color:BLACK;
            font-size:100%;
            font-family:Verdana;
            letter-spacing:1px">
    <h3 style='padding: 20px;
              color:CYAN;
              text-align:center;'>
        Importing Libraries
    </h3>
    </div>

In [247]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from plotly.offline import init_notebook_mode, iplot, plot
from sklearn.preprocessing import MinMaxScaler

from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split

import warnings
warnings.filterwarnings("ignore")

In [248]:
df = pd.read_csv('../input/test-file/tested.csv')

<div style="color:white;
            display:fill;
            border-radius:15px;
            background-color:BLACK;
            font-size:100%;
            font-family:Verdana;
            letter-spacing:1px">
    <h3 style='padding: 20px;
              color:CYAN;
              text-align:center;'>
        Data Information and Data Cleaning
    </h3>
    </div>

In [249]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [250]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [251]:
def missing_values_percent(dataframe):
    missing_values = dataframe.isna().sum()
    percentage_missing = (missing_values / len(dataframe) * 100).round(2)

    result_movie = pd.DataFrame({'Missing Values': missing_values, 'Percentage': percentage_missing})
    result_movie['Percentage'] = result_movie['Percentage'].astype(str) + '%'

    return result_movie


result = missing_values_percent(df)
result

             Missing Values Percentage
PassengerId               0       0.0%
Survived                  0       0.0%
Pclass                    0       0.0%
Name                      0       0.0%
Sex                       0       0.0%
Age                      86     20.57%
SibSp                     0       0.0%
Parch                     0       0.0%
Ticket                    0       0.0%
Fare                      1      0.24%
Cabin                   327     78.23%
Embarked                  0       0.0%

In [252]:
df = df.dropna()

In [253]:
gender_mapping = {'male': 0, 'female': 1}
df['Sex'] = df['Sex'].map(gender_mapping)

In [254]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
12,904,1,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",1,23.0,1,0,21228,82.2667,B45,S
14,906,1,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",1,47.0,1,0,W.E.P. 5734,61.1750,E31,S
24,916,1,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",1,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
26,918,1,1,"Ostby, Miss. Helene Ragnhild",1,22.0,0,1,113509,61.9792,B36,C
28,920,0,1,"Brady, Mr. John Bertram",0,41.0,0,0,113054,30.5000,A21,S

In [255]:
df['Age'] = df['Age'].round().astype(int)

In [256]:
df['Fare'] = df['Fare'].round().astype(int)

In [257]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
12,904,1,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",1,23,1,0,21228,82,B45,S
14,906,1,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",1,47,1,0,W.E.P. 5734,61,E31,S
24,916,1,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",1,48,1,3,PC 17608,262,B57 B59 B63 B66,C
26,918,1,1,"Ostby, Miss. Helene Ragnhild",1,22,0,1,113509,62,B36,C
28,920,0,1,"Brady, Mr. John Bertram",0,41,0,0,113054,30,A21,S

In [258]:
df.drop(['PassengerId','Name','Ticket','Cabin', 'Embarked'],axis=1, inplace=True)

In [259]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 87 entries, 12 to 414
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  87 non-null     int64
 1   Pclass    87 non-null     int64
 2   Sex       87 non-null     int64
 3   Age       87 non-null     int64
 4   SibSp     87 non-null     int64
 5   Parch     87 non-null     int64
 6   Fare      87 non-null     int64
dtypes: int64(7)
memory usage: 5.4 KB

<div style="color:white;
            display:fill;
            border-radius:15px;
            background-color:BLACK;
            font-size:100%;
            font-family:Verdana;
            letter-spacing:1px">
    <h3 style='padding: 20px;
              color:CYAN;
              text-align:center;'>
        Building Model
    </h3>
    </div>

In [260]:
X = df.drop('Survived', axis=1)
y = df['Survived']

In [261]:
scaler = MinMaxScaler()
X = scaler.fit_transform(X)
y = scaler.fit_transform(y.values.reshape(-1, 1))

In [262]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(69, 6)
(69, 1)
(18, 6)
(18, 1)

In [263]:
model = Sequential()
model.add(Dense(10, activation='relu', input_dim=6))
model.add(Dense(10, activation='relu'))
model.add(Dense(1, activation='linear'))

model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mean_absolute_error'])
model.summary()

Model: "sequential_10"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_30 (Dense)            (None, 10)                70

 dense_31 (Dense)            (None, 10)                110

 dense_32 (Dense)            (None, 1)                 11

=================================================================
Total params: 191 (764.00 Byte)
Trainable params: 191 (764.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [267]:
past = model.fit(X_train, y_train, epochs=50, validation_split=0.2)

Epoch 1/50
2/2 [==============================] - 0s 93ms/step - loss: 0.2790 - mean_absolute_error: 0.4615 - val_loss: 0.2361 - val_mean_absolute_error: 0.4250
Epoch 2/50
2/2 [==============================] - 0s 38ms/step - loss: 0.2691 - mean_absolute_error: 0.4555 - val_loss: 0.2284 - val_mean_absolute_error: 0.4206
Epoch 3/50
2/2 [==============================] - 0s 41ms/step - loss: 0.2603 - mean_absolute_error: 0.4500 - val_loss: 0.2208 - val_mean_absolute_error: 0.4160
Epoch 4/50
2/2 [==============================] - 0s 39ms/step - loss: 0.2509 - mean_absolute_error: 0.4437 - val_loss: 0.2134 - val_mean_absolute_error: 0.4111
Epoch 5/50
2/2 [==============================] - 0s 35ms/step - loss: 0.2426 - mean_absolute_error: 0.4381 - val_loss: 0.2061 - val_mean_absolute_error: 0.4062
Epoch 6/50
2/2 [==============================] - 0s 37ms/step - loss: 0.2337 - mean_absolute_error: 0.4318 - val_loss: 0.1990 - val_mean_absolute_error: 0.4011
Epoch 7/50
2/2 [==============================] - 0s 40ms/step - loss: 0.2260 - mean_absolute_error: 0.4262 - val_loss: 0.1920 - val_mean_absolute_error: 0.3957
Epoch 8/50
2/2 [==============================] - 0s 38ms/step - loss: 0.2170 - mean_absolute_error: 0.4192 - val_loss: 0.1854 - val_mean_absolute_error: 0.3902
Epoch 9/50
2/2 [==============================] - 0s 38ms/step - loss: 0.2091 - mean_absolute_error: 0.4125 - val_loss: 0.1789 - val_mean_absolute_error: 0.3846
Epoch 10/50
2/2 [==============================] - 0s 34ms/step - loss: 0.2015 - mean_absolute_error: 0.4059 - val_loss: 0.1725 - val_mean_absolute_error: 0.3788
Epoch 11/50
2/2 [==============================] - 0s 34ms/step - loss: 0.1935 - mean_absolute_error: 0.3987 - val_loss: 0.1663 - val_mean_absolute_error: 0.3729
Epoch 12/50
2/2 [==============================] - 0s 37ms/step - loss: 0.1860 - mean_absolute_error: 0.3916 - val_loss: 0.1603 - val_mean_absolute_error: 0.3668
Epoch 13/50
2/2 [==============================] - 0s 37ms/step - loss: 0.1786 - mean_absolute_error: 0.3842 - val_loss: 0.1544 - val_mean_absolute_error: 0.3606
Epoch 14/50
2/2 [==============================] - 0s 35ms/step - loss: 0.1716 - mean_absolute_error: 0.3772 - val_loss: 0.1487 - val_mean_absolute_error: 0.3543
Epoch 15/50
2/2 [==============================] - 0s 39ms/step - loss: 0.1647 - mean_absolute_error: 0.3697 - val_loss: 0.1433 - val_mean_absolute_error: 0.3480
Epoch 16/50
2/2 [==============================] - 0s 39ms/step - loss: 0.1576 - mean_absolute_error: 0.3621 - val_loss: 0.1379 - val_mean_absolute_error: 0.3414
Epoch 17/50
2/2 [==============================] - 0s 39ms/step - loss: 0.1508 - mean_absolute_error: 0.3540 - val_loss: 0.1325 - val_mean_absolute_error: 0.3346
Epoch 18/50
2/2 [==============================] - 0s 40ms/step - loss: 0.1445 - mean_absolute_error: 0.3465 - val_loss: 0.1274 - val_mean_absolute_error: 0.3277
Epoch 19/50
2/2 [==============================] - 0s 38ms/step - loss: 0.1380 - mean_absolute_error: 0.3383 - val_loss: 0.1223 - val_mean_absolute_error: 0.3207
Epoch 20/50
2/2 [==============================] - 0s 36ms/step - loss: 0.1322 - mean_absolute_error: 0.3309 - val_loss: 0.1175 - val_mean_absolute_error: 0.3137
Epoch 21/50
2/2 [==============================] - 0s 39ms/step - loss: 0.1259 - mean_absolute_error: 0.3225 - val_loss: 0.1128 - val_mean_absolute_error: 0.3066
Epoch 22/50
2/2 [==============================] - 0s 36ms/step - loss: 0.1202 - mean_absolute_error: 0.3144 - val_loss: 0.1082 - val_mean_absolute_error: 0.2994
Epoch 23/50
2/2 [==============================] - 0s 38ms/step - loss: 0.1145 - mean_absolute_error: 0.3059 - val_loss: 0.1038 - val_mean_absolute_error: 0.2921
Epoch 24/50
2/2 [==============================] - 0s 38ms/step - loss: 0.1087 - mean_absolute_error: 0.2974 - val_loss: 0.0995 - val_mean_absolute_error: 0.2849
Epoch 25/50
2/2 [==============================] - 0s 39ms/step - loss: 0.1034 - mean_absolute_error: 0.2890 - val_loss: 0.0954 - val_mean_absolute_error: 0.2775
Epoch 26/50
2/2 [==============================] - 0s 36ms/step - loss: 0.0982 - mean_absolute_error: 0.2811 - val_loss: 0.0914 - val_mean_absolute_error: 0.2701
Epoch 27/50
2/2 [==============================] - 0s 39ms/step - loss: 0.0931 - mean_absolute_error: 0.2732 - val_loss: 0.0876 - val_mean_absolute_error: 0.2642
Epoch 28/50
2/2 [==============================] - 0s 39ms/step - loss: 0.0882 - mean_absolute_error: 0.2646 - val_loss: 0.0837 - val_mean_absolute_error: 0.2586
Epoch 29/50
2/2 [==============================] - 0s 42ms/step - loss: 0.0835 - mean_absolute_error: 0.2563 - val_loss: 0.0799 - val_mean_absolute_error: 0.2528
Epoch 30/50
2/2 [==============================] - 0s 40ms/step - loss: 0.0788 - mean_absolute_error: 0.2481 - val_loss: 0.0762 - val_mean_absolute_error: 0.2469
Epoch 31/50
2/2 [==============================] - 0s 39ms/step - loss: 0.0743 - mean_absolute_error: 0.2397 - val_loss: 0.0726 - val_mean_absolute_error: 0.2409
Epoch 32/50
2/2 [==============================] - 0s 41ms/step - loss: 0.0703 - mean_absolute_error: 0.2323 - val_loss: 0.0693 - val_mean_absolute_error: 0.2349
Epoch 33/50
2/2 [==============================] - 0s 38ms/step - loss: 0.0665 - mean_absolute_error: 0.2243 - val_loss: 0.0661 - val_mean_absolute_error: 0.2291
Epoch 34/50
2/2 [==============================] - 0s 42ms/step - loss: 0.0625 - mean_absolute_error: 0.2166 - val_loss: 0.0631 - val_mean_absolute_error: 0.2233
Epoch 35/50
2/2 [==============================] - 0s 37ms/step - loss: 0.0590 - mean_absolute_error: 0.2102 - val_loss: 0.0602 - val_mean_absolute_error: 0.2176
Epoch 36/50
2/2 [==============================] - 0s 39ms/step - loss: 0.0556 - mean_absolute_error: 0.2033 - val_loss: 0.0576 - val_mean_absolute_error: 0.2120
Epoch 37/50
2/2 [==============================] - 0s 35ms/step - loss: 0.0524 - mean_absolute_error: 0.1967 - val_loss: 0.0551 - val_mean_absolute_error: 0.2064
Epoch 38/50
2/2 [==============================] - 0s 38ms/step - loss: 0.0496 - mean_absolute_error: 0.1907 - val_loss: 0.0529 - val_mean_absolute_error: 0.2011
Epoch 39/50
2/2 [==============================] - 0s 38ms/step - loss: 0.0466 - mean_absolute_error: 0.1839 - val_loss: 0.0507 - val_mean_absolute_error: 0.1957
Epoch 40/50
2/2 [==============================] - 0s 33ms/step - loss: 0.0440 - mean_absolute_error: 0.1777 - val_loss: 0.0486 - val_mean_absolute_error: 0.1904
Epoch 41/50
2/2 [==============================] - 0s 35ms/step - loss: 0.0414 - mean_absolute_error: 0.1718 - val_loss: 0.0468 - val_mean_absolute_error: 0.1853
Epoch 42/50
2/2 [==============================] - 0s 35ms/step - loss: 0.0389 - mean_absolute_error: 0.1662 - val_loss: 0.0450 - val_mean_absolute_error: 0.1802
Epoch 43/50
2/2 [==============================] - 0s 39ms/step - loss: 0.0367 - mean_absolute_error: 0.1612 - val_loss: 0.0434 - val_mean_absolute_error: 0.1755
Epoch 44/50
2/2 [==============================] - 0s 41ms/step - loss: 0.0346 - mean_absolute_error: 0.1562 - val_loss: 0.0419 - val_mean_absolute_error: 0.1715
Epoch 45/50
2/2 [==============================] - 0s 41ms/step - loss: 0.0325 - mean_absolute_error: 0.1515 - val_loss: 0.0404 - val_mean_absolute_error: 0.1676
Epoch 46/50
2/2 [==============================] - 0s 40ms/step - loss: 0.0307 - mean_absolute_error: 0.1476 - val_loss: 0.0391 - val_mean_absolute_error: 0.1642
Epoch 47/50
2/2 [==============================] - 0s 38ms/step - loss: 0.0290 - mean_absolute_error: 0.1433 - val_loss: 0.0380 - val_mean_absolute_error: 0.1609
Epoch 48/50
2/2 [==============================] - 0s 36ms/step - loss: 0.0273 - mean_absolute_error: 0.1397 - val_loss: 0.0369 - val_mean_absolute_error: 0.1576
Epoch 49/50
2/2 [==============================] - 0s 35ms/step - loss: 0.0258 - mean_absolute_error: 0.1362 - val_loss: 0.0360 - val_mean_absolute_error: 0.1545
Epoch 50/50
2/2 [==============================] - 0s 36ms/step - loss: 0.0246 - mean_absolute_error: 0.1331 - val_loss: 0.0351 - val_mean_absolute_error: 0.1514

In [268]:
y_pred = model.predict(X_test)

1/1 [==============================] - 0s 24ms/step

In [269]:
from sklearn.metrics import r2_score

R2 = r2_score(y_test, y_pred)
print("R2 Score=",R2 )

R2 Score= 0.8760927545180078